body {
    background-color: rebeccapurple;
}

header {
    background-color: violet;
}

article {
    background-color: seashell;
}

h1 {
    font: crimson;
}

p {
    font: dimgray;
}

footer {
    background-color: violet;
    font: rebeccapurple;
}