/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END CSS RESET! */

body {
    background-color: #1c1624;
    background-image: url("images/starrybg02.png");
}

header {
    background-color: cadetblue;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

article {
    background-color: #c1c7bb;
    margin-bottom: 50px;
    width: 690px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    float: right;
}

h2 {
    color: #d3474e;
    font-family: "Overpass", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

p {
    color: #39343e;
    font-family: "Overpass", sans-serif;
    font-size: 13px;
    line-height: 23px;
    clear: both;
}

footer {
    background-color: cadetblue;
    color: whitesmoke;
    width: 100%;
    margin-bottom: 50px;
}

li {
    display: inline;
}

#container {
    max-width: 750px;
    margin: 65px auto;
}

.nav {
    width: 100%;
    background-color: #d42e02;
    color: #f8ead4;
    top: 0px;
    position: fixed;
}

.nav a {
    float: left;
    display: block;
    color: #f8ead4;
    font-family: "Press Start 2P", sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 30px;
    padding-top: 15px;
}

.nav a:hover {
    background: #2d2635;
    color: #c1c7bb;
}

.gamertags {
    width: 100%;
    background-color: #c1c7bb;
    color: #2d2635;
}

.gamertags a {
    float: left;
    display: block;
    color: #2d2635;
    background-color: #c1c7bb;
    font-family: "Volkhov", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 20%;
    height: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}

.gamertags a:hover {
    background-color: #2d2635;
    color: #c1c7bb;
}

.gamertags img {
    vertical-align: middle;
}

#copyright {
    background-color: transparent;
    margin-top: 50px;
}

#copyright p {
    color: #c1c7bb;
    clear: left;
    padding-top: 15px;
    float: right;
}

#empty {
    clear: both;
}